*{
    margin:0;
    padding:0;
    font-family: Segoe UI;
    font-style: normal;
}
.p1_1{
height:100vh;
background: #FFF3F1;
}
.p2_1{
    height:100vh;

    }
.p1_1_circleright{
position: absolute;
width: 414px;
height: 406px;
left: -274px;
top: 116px;

background-image: url("Ellipse\ 1-1.png");
}
.p1_2_circleright{
    position: absolute;
    width: 414px;
    height: 406px;
    left: -274px;
    top: 116px;
    
    background-image: url("Ellipse\ 1-1.png");
    }
.p1_1_circletop{
position: absolute;
width: 406px;
height: 450px;
left: 705px;
top: -300px;
background-image: url("Ellipse 1.png");
z-index: 0;

}
.p1_1_girl{
    position: absolute;
width: 546.4px;
height: 426.53px;
left: 821px;
 top: 280px;
    background-image: url("Group\ 86.png");
}
.p1_2{
    height:110vh;
    background-color: white;

}

.p1_1_toptext{
    padding-top: 4vh;
    padding-left:2vh;
    padding-right:10vh;
    display:flex;
    

font-weight: normal;
font-size: 24px;
line-height: 33px;
z-index: 1;
}
a{
    
    text-decoration:none;
    color:black;
    
    
    
    display:flex;
font-weight: normal;
font-size: 24px;
line-height: 33px;
z-index: 1;

    
}
.p1_1_main{
    
position: absolute;
width: 528px;
height: 195px;
left: 174px;
top: 219px;



font-weight: normal;
font-size: 48px;
line-height: 65px;

color: #000000;

}
.p1_1_sub{
position: absolute;
width: 452px;
height: 33px;
left: 174px;
top: 463px;



font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */
}
.p1_2_main_title{
    

font-weight: 600;
font-size: 36px;
line-height: 49px;
padding-left:25vh;
padding-top:5vh;

color: #000000;
}
.p1_2_fbox{
position: absolute;
width: 534px;
height: 580px;
left: 176px;
top: 850px;
padding-left: 5vh;
padding-top:5vh;

background: #FFF3F1;
border-radius: 22px;
}
.p1_2_sbox{
    position: absolute;
width: 536px;
height: 580px;
left: 788px;
top: 850px;
padding-left: 5vh;
padding-top:5vh;

background: #FFF3F1;
border-radius: 22px;
}

.p1_2_content{


font-weight: normal;
font-size: 24px;
line-height: 33px;
padding-bottom: 5vh;

}
.p1_3{
    padding-top:10vh;;
    padding-left:20vh;
    height:100vh;
    background-image: url("p1_3.png");
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
   
    

}
.p1_3_title{
    padding-bottom:5vh;
    

font-weight: 600;
font-size: 36px;
line-height: 49px;

color: #000000;
}
.p1_3_subtitle{

    
    padding-left:5vh;

font-weight: normal;
font-size: 36px;
line-height: 49px;
padding-bottom: 5vh;
}
.p1_3_content{
    padding-top:3vh;
    
    font-style: italic;
font-weight: normal;
padding-left:5vh;
font-size: 24px;
text-align:left;
line-height: 33px;
padding-right: 80vh;

color: #000000;
}
.footer{
    height:25vh;
    display:flex;
    background-color: #4b4b4b;
    padding-left:30vh;
    padding-right:10vh ;
    padding-bottom:5vh ;
    padding-top:10vh ;
    /*Font */
    
    
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #FFFFFF;
    
}
.bottombox{
 flex:1;
 margin-right: 6vh;
}
.fblogo
{
    flex:1;
    margin-right: 10px;
    padding-left:10px;
    padding-right: 10px;
    height:40px;
    width:36px;
}
.instalogo
{
    flex:1;
    height:36px;
    width:36px;
 
}

.box{
    display:flex;
   
    padding-left: 20vh;
    padding-top: 19vh; 
    padding-right:15vh;
}

.p2_box{
    flex:1;
    height: 74vh;
    width: 25%;
    background-color: #FFF3F1;
    margin-right: 35px;
    margin-bottom: 25px;
    border-radius: 24px;
   
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 19px;

color: #000000;
}
.imgcss{
    width:100%;
    height:50%;
}
.page1{
    height:100vh;

}
.page1m{
    height:50vh;
    background-color:#fff3f1;
    padding-left:15vh ;
    padding-top:5vh ;
}
.page1_m_orders{
    display: flex;
    margin-bottom: 5px;


}

.Add_button{
    margin-left: 45vh;
    margin-top:12vh;
    background-color:#ff0000;
    cursor: pointer;
 
}
.Add_button :hover{
    transition-delay: 1s;
    background-color: rosybrown;
}
.pay_button{
    margin-left: 155vh;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: #FF8383;
    cursor:pointer;
}
pay_buttonhover{
    color:grey;

}
.hrred{
    border-top: 1px solid red;
   margin-right:25vh;
}
.hrredp1recipe{
    margin-right:130vh;
    margin-left:28vh;
    border-top: 1px solid red;

}
.hrredp2recipe{
    
    border-top: 1px solid red;
    margin-right:130vh;
    margin-left:0vh;
}